* {
    font-size: 1.2em;
}

h3 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Shadows Into Light', cursive;
}

.contenedorUno {
    padding: 10px;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.contenedorDos {
    padding: 10px;
    background-color: #acabb0;
    background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
}

.contenedorTres {
    padding: 10px;
    background-color: #0d0a0b;
    background-image: url(/img/01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedorCuatro {
    padding: 10px;
    background-color: #f42b03;
    background-image: url(/img/02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}